<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Client.Id" value="609B7323-39CD-4B92-8126-360CBBAD2DC7" />
  </appSettings>
  <connectionStrings>
    <add name="Test" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=True;Application Name=FWF;Encrypt=yes;TrustServerCertificate=true;" />
  </connectionStrings>
</configuration>
