@{
    ViewData["Title"] = "Game Detail";
}
<section class="section clearfix">
    <nav class="breadcrumb">
        <ul>
            <li><a href="#/" class="router-link-active">Games</a></li>
            <li class="is-active"><a href="#" aria-current="page">Game Detail</a></li>
        </ul>
    </nav>
    <div>
        <h3 class="title is-3">North Carolina vs. Duke</h3>
        <div class="columns">
            <div class="column is-half">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Away Team</p>
                            <p class="title">140</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Quarter #2</p>
                            <p class="title">08:13.2</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Home Team</p>
                            <p class="title">140</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter">
                <div data-v-359c7f54="" class="b-table">
                    <div class="field table-mobile-sort">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <span class="select is-fullwidth">
                                    <select>
                                        <option value="[object Object]">
                                            Points
                                        </option>
                                    </select>
                                </span>
                                <!---->
                            </div>
                            <div class="control"><button class="button is-primary"><span class="icon is-small"><i class="mdi mdi-arrow-up"></i></span></button></div>
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table is-bordered is-narrow has-mobile-cards">
                            <thead>
                                <tr>
                                    <!----> <!---->
                                    <th class="">
                                        <div class="th-wrap">Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                                    </th>
                                    <th class="" style="width: 70px;">
                                        <div class="th-wrap">Position <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                                    </th>
                                    <th class="is-sortable" style="width: 40px;">
                                        <div class="th-wrap is-numeric">Points <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <!----> <!---->
                                    <td data-label="Name" class="">
                                        <span>
                                            Jack White
                                        </span>
                                    </td>
                                    <td data-label="Position" class="">
                                        <span>
                                            Forward
                                        </span>
                                    </td>
                                    <td data-label="Points" class="has-text-right">
                                        <span>
                                            34
                                        </span>
                                    </td>
                                </tr>
                                <!---->
                                <tr class="">
                                    <!----> <!---->
                                    <td data-label="Name" class="">
                                        <span>
                                            Justin Robinson
                                        </span>
                                    </td>
                                    <td data-label="Position" class="">
                                        <span>
                                            Forward
                                        </span>
                                    </td>
                                    <td data-label="Points" class="has-text-right">
                                        <span>
                                            77
                                        </span>
                                    </td>
                                </tr>
                                <!---->
                                <tr class="">
                                    <!----> <!---->
                                    <td data-label="Name" class="">
                                        <span>
                                            Marques Bolden
                                        </span>
                                    </td>
                                    <td data-label="Position" class="">
                                        <span>
                                            Center
                                        </span>
                                    </td>
                                    <td data-label="Points" class="has-text-right">
                                        <span>
                                            29
                                        </span>
                                    </td>
                                </tr>
                                <!---->
                            </tbody>
                            <!---->
                        </table>
                    </div>
                    <!---->
                </div>
            </div>
            <div class="column is-one-quarter">
                <div data-v-359c7f54="" class="b-table">
                    <div class="field table-mobile-sort">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <span class="select is-fullwidth">
                                    <select>
                                        <!----> <!----><!---->
                                        <option value="[object Object]">
                                            Points
                                        </option>
                                    </select>
                                </span>
                                <!---->
                            </div>
                            <div class="control"><button class="button is-primary"><span class="icon is-small"><i class="mdi mdi-arrow-up"></i></span></button></div>
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table is-bordered is-narrow has-mobile-cards">
                            <thead>
                                <tr>
                                    <!----> <!---->
                                    <th class="">
                                        <div class="th-wrap">Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                                    </th>
                                    <th class="" style="width: 70px;">
                                        <div class="th-wrap">Position <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                                    </th>
                                    <th class="is-sortable" style="width: 40px;">
                                        <div class="th-wrap is-numeric">Points <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <!----> <!---->
                                    <td data-label="Name" class="">
                                        <span>
                                            Kenny Williams
                                        </span>
                                    </td>
                                    <td data-label="Position" class="">
                                        <span>
                                            Guard
                                        </span>
                                    </td>
                                    <td data-label="Points" class="has-text-right">
                                        <span>
                                            64
                                        </span>
                                    </td>
                                </tr>
                                <!---->
                                <tr class="">
                                    <!----> <!---->
                                    <td data-label="Name" class="">
                                        <span>
                                            Shea Rush
                                        </span>
                                    </td>
                                    <td data-label="Position" class="">
                                        <span>
                                            Forward
                                        </span>
                                    </td>
                                    <td data-label="Points" class="has-text-right">
                                        <span>
                                            31
                                        </span>
                                    </td>
                                </tr>
                                <!---->
                                <tr class="">
                                    <!----> <!---->
                                    <td data-label="Name" class="">
                                        <span>
                                            Seventh Woods
                                        </span>
                                    </td>
                                    <td data-label="Position" class="">
                                        <span>
                                            Guard
                                        </span>
                                    </td>
                                    <td data-label="Points" class="has-text-right">
                                        <span>
                                            45
                                        </span>
                                    </td>
                                </tr>
                                <!---->
                            </tbody>
                            <!---->
                        </table>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</section>
